body{
    text-align: center;
    background-color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
h1{
    font-size: larger;
    color: blanchedalmond;
}
#cabecera{
    background-color: blue;
    font-size:x-large;
    color: azure;
    

}