body{
    text-align: center;
    background-color: blueviolet;
    font-family:Arial, Helvetica, sans-serif
} 
h1{
    font-size: larger;
    color: blanchedalmond;
}
#cabecera{
    background-color: blue;
    font-size:x-large;
    color: azure;
    

}